.landing-body {
    background-image: url("viper pit.gif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.landing-page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.landing-gif {
    width: 500px;
    max-width: 90%;
}

.enter-button {
    display: inline-block;
    margin-top: 5px;
    padding: 15px 30px;
    background: #A11500;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    transition: 0.4s ease;
}

.enter-button:hover {
    transform: translateY(-5px);
}
