
.landing-body {
    background-repeat: no-repeat;
    font-family: Georgia, serif;
    margin: 0;
    background: #080808;
    background-image:
        linear-gradient(
            rgba(0,0,0,0.7),
            rgba(0,0,0,0.7)
        ),
        url("viper pit.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.archive-body {
    background-repeat: no-repeat;
    font-family: Georgia, serif;
    margin: 0;
    background: #080808;
    background-image:
        linear-gradient(
            rgba(0,0,0,0.7),
            rgba(0,0,0,0.7)
        ),
        url("scales.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.header-divider {
    width: 300px;
    height: 2px;
    margin: 10px auto;
    background: linear-gradient(
        to right,
        transparent,
        #A11500,
        transparent
    );
}


.landing-page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.landing-card {
    background: rgba(21, 21, 21, 0.7);
    border: 1px solid #333333;
    border-left: 6px solid #A11500;
    border-right: 6px solid #A11500;
    border-radius: 10px;
    padding: 25px;
    box-shadow: 0 0 25px rgba(124, 58, 237, 0.15);
}

.enter-button {
    display: inline-block;
    margin-top: 5px;
    padding: 15px 30px;
    background: #A11500;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    transition: 0.4s ease;
}

.enter-button:hover {
    background: #751000;
    transform: scale(1.05);
}

.file-button {
    display: inline-block;
    margin-top: 5px;
    padding: 10px 15px;

    background: #7c3aed;
    color: white;

    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
}

.file-button:hover {
    background: #a855f7;
    transform: scale(1.05);
}

.typewriter {
    overflow: hidden;
    white-space: nowrap;
    border-right: 3px solid #A11500;
    width: 0;
    color: white;
    animation:
    typing 3s steps(17, end) forwards,
    blink 0.75s step-end infinite;
    text-align: center;
    margin: 0 auto;
}
@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 17ch;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

}

h1,
h2,
.warning-text,
.file-label {
    font-family: "Share Tech Mono", monospace;
}

.warning-text {
    color: #A11500
}


.transparent-card {
    background: rgba(15, 15, 15, 0.00);
    border: 1px solid rgba(192, 132, 252, 0.0);
    border-left: 6px solid rgba(124, 58, 237, 0.0);
    border-radius: 10px;
    text-align: center;
    padding: 0px;
    margin: 0px auto;
    max-width: 1200px;
    box-shadow: 0 0 25px rgba(124, 58, 237, 0.00);
    backdrop-filter: blur(0px);
}

.dossier-card {
    background: #151515;
    border: 1px solid #333333;
    border-left: 8px solid #7c3aed;
    border-radius: 10px;
    padding: 25px;
    box-shadow: 0 0 25px rgba(124, 58, 237, 0.15);
}

.navbar {
    display: flex;
    justify-content: center;
    gap: 20px;

    padding: 15px;
    background: rgba(10, 10, 10, 0.8);

    border-top: 1px solid #7c3aed;
    border-bottom: 1px solid #7c3aed;
}

.navbar a {
    color: #d8b4fe;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 1px;

    transition: 0.3s ease;
}

.navbar a:hover {
    color: white;
    text-shadow: 0 0 10px #c084fc;
}
